// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$alias-game-frontend-primary: mat-palette($mat-teal, 500);
$alias-game-frontend-accent: mat-palette($mat-yellow, A700);

// The warn palette is optional (defaults to red).
$alias-game-frontend-warn: mat-palette($mat-orange, 700);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$alias-game-frontend-theme: mat-light-theme(
  (
    color: (
      primary: $alias-game-frontend-primary,
      accent: $alias-game-frontend-accent,
      warn: $alias-game-frontend-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($alias-game-frontend-theme);

@import './variables.scss';

html,
body {
  height: 100%;
}

body {
  background: url(assets/background.jpg);
  background-size: cover;

  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.title {
  text-align: center;
  font-size: 125px !important;
  font-family: 'Baloo Bhaina 2', cursive !important;
  margin: 150px 0 0 0 !important;
  color: #00897b;
  text-shadow: -3px 0 $white, 0 3px $white, 3px 0 $white, 0 -3px $white;
}

h1,
h2 {
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  input,
  select {
    width: $create-game-field;
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: 16px;
    padding: $create-game-field-padding;
  }

  input {
    box-sizing: border-box;
  }

  p {
    line-height: 150%;
  }

  .color-picker {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 0;
    padding: 0 !important;
    border: none;
    box-shadow: 0 0 3px $black;
  }
}

.active {
  color: $active;
}

.positive {
  background: $sea;
  color: $white;

  &:hover {
    background: darken($sea, 10%);
    color: $white;
  }
}

.negative {
  background: $active;
  color: $white;

  &:hover {
    background: darken($active, 10%);
    color: $white;
  }
}

.menu-container {
  width: $create-game-width;
  height: auto;
  margin-left: calc(50% - #{$create-game-width} / 2);
  padding-bottom: 20px;
  border: 1px solid $black;
  border-radius: 10px;
  background: $blur;
  box-shadow: $dark-shadow;

  // h2 {
  //   text-align: center;
  // }

  .form-group {
    margin: 10px 50px;
  }

  // table {
  //   table-layout: fixed;
  //   width: calc(100% - 100px);
  //   margin: 0 50px;
  //   box-sizing: border-box;
  //   border-collapse: collapse;

  //   thead {
  //     font-weight: bold;
  //   }

  //   tbody {
  //     tr {
  //       cursor: pointer;

  //       &.active {
  //         background: $active;
  //         color: lighten($white, 10%) !important;
  //       }

  //       &:hover {
  //         background: $sea;
  //         color: lighten($white, 10%);

  //         &.active {
  //           background: darken($active, 10%);
  //           color: lighten($white, 10%) !important;
  //         }
  //       }
  //     }
  //   }

  //   td {
  //     padding: 5px 15px;
  //   }
  // }

  // table,
  // th,
  // td {
  //   border: 1px solid $black;
  // }
}
