// COLORS
$white: #ddd;
$black: #222;
$sea: seagreen;
$active: #c72f10;
$blur: rgba(255, 255, 255, 0.8);
$thick-blur: rgba(255, 255, 255, 0.97);

// LAYOUT
$dark-shadow: 0 0 5px $black;
$create-game-width: 530px;
$create-game-field: 180px;
$create-game-field-padding: 0 10px;
