.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

spark-fountain-alias-game-card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
