<div class="card-container">
  <mat-card>
    <h2>{{ _activeSession?.name }}</h2>
    <div
      class="description"
      *ngIf="
        (_activeSession.description.term !== '' &&
          _activeSession.description.accepted) ||
        true
      "
    >
      <i
        >{{ _activeSession.description.term }}
        {{ _activeSession.description.amount }}</i
      >
    </div>

    <div class="active-team" *ngIf="activeTeam !== '' || true">
      Team {{ activeTeam }} ist dran.
    </div>

    <div class="team" *ngFor="let team of _activeSession?.teams">
      <div class="team-info">
        <div class="team-color" [ngStyle]="{ background: team.color }">
          <button
            mat-fab
            [ngStyle]="{ 'background-color': '#' + team.color }"
          ></button>
        </div>
        <div class="team-meta">
          <div class="team-meta-line">
            <b>Team {{ team.name }}</b>
          </div>
          <div class="team-meta-line">
            <span *ngFor="let player of team.players; let isLast = last"
              >{{ player.name }}{{ isLast ? '' : ',' }}
            </span>
          </div>
          <div class="team-meta-line" *ngIf="team.remainingCards > 1">
            Noch {{ team.remainingCards }} Karten übrig
          </div>
          <div class="team-meta-line" *ngIf="team.remainingCards === 1">
            Noch eine Karte übrig
          </div>
          <div class="team-meta-line" *ngIf="team.remainingCards <= 0">
            Gewonnen!
          </div>
        </div>
      </div>
    </div>

    <button
      mat-raised-button
      color="primary"
      class="active-player-request"
      *ngIf="!iAmActivePlayer"
      (click)="requestActivePlayer()"
    >
      Ich möchte Begriffe erklären.
    </button>

    <button
      mat-raised-button
      color="primary"
      *ngIf="
        (_activeSession && !_activeSession.started && iAmActivePlayer) || true
      "
      (click)="startSession()"
    >
      Spiel beginnen
    </button>
    <button
      mat-raised-button
      color="default"
      *ngIf="
        (_activeSession && _activeSession.started && iAmActivePlayer) || true
      "
      (click)="nextRound()"
    >
      Nächste Runde
    </button>

    <button mat-raised-button color="warn" (click)="leaveSession()">
      Session verlassen
    </button>
  </mat-card>
</div>
