@import '../../variables.scss';

button {
  // TODO: center vertically
}

.container {
  border: 1px solid $black;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 5px $black;
  background: $blur;

  .session {
    font-weight: bold;
    text-align: center;
    font-size: 28px;
  }

  button {
    text-align: center;
    font-size: 12px;
    width: calc(100% - 40px);
    margin: 10px 20px;
    box-sizing: border-box;
  }

  .active-player-request {
    margin: 0 20px;
  }

  .active-team {
    text-align: center;
    font-size: 22px;
  }

  .description {
    text-align: center;
    margin-bottom: 30px;
  }

  .team {
    padding: 10px 30px;
    .team-info {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }

    .team-color {
      display: inline-block;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      box-shadow: 0 0 5px $black;
    }

    .team-meta {
      width: calc(100% - 32px);
      margin-left: 10px;

      .team-meta-line {
        line-height: 130%;
      }
    }

    .active-player {
      color: $active;
    }

    ul {
      list-style-type: none;
      padding-left: 0 !important;
    }
  }
}
