<div class="container">
  <div class="absolute">
    <!-- CLICKABLE OBJECTS -->
    <i class="fas fa-cocktail fa-5x drink01 circle-shadow-dark"></i>

    <i class="fas fa-beer fa-2x beer01"></i>

    <i class="fas fa-wine-bottle fa-3x bottle01 circle-shadow-dark"></i>

    <i class="fas fa-glass-whiskey fa-2x whiskey01 circle-shadow-light"></i>

    <i class="fas fa-lemon fa-1x lemon01"></i>

    <i class="fas fa-dice-four fa-2x dice01 circle-shadow-dark"></i>

    <i class="fas fa-smoking fa-1x cigarette01 circle-shadow-light"></i>

    <i class="fas fa-hamburger fa-6x hamburger01"></i>

    <i class="fas fa-futbol fa-1x football01"></i>

    <i class="fas fa-money-bill fa-2x card01 circle-shadow-dark"></i>

    <!-- PLACEHOLDER OBJECTS -->
  </div>

  <spark-fountain-advent-container
    [words]="words"
  ></spark-fountain-advent-container>
</div>
