@import '../../styles.scss';

.game {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  width: 100%;
  height: auto;

  spark-fountain-alias-game-players {
    width: 100px;
  }

  spark-fountain-alias-game-board {
    width: 1000px;
    height: 600px;
    background: url(/assets/board.jpg);
    box-shadow: 2px 10px 10px $black;
  }

  .ui-right {
    width: 100px;
    background: purple;
    display: flex;
    flex-direction: column;

    spark-fountain-alias-game-code-sheet {
      box-shadow: $dark-shadow;
      background: $blur;
    }

    spark-fountain-alias-game-history {
      width: 100%;
    }
  }

  spark-fountain-alias-game-winner {
    display: block;
    position: fixed;
    width: 500px;
    height: 500px;
    background: $thick-blur;
    border: 1px solid $black;
    box-shadow: $dark-shadow;
  }
}
