@import './variables.scss';

html {
  width: 100%;
  height: 100%;
  background: linear-gradient($red, $red-dark);
}

body {
  position: fixed;
  margin: calc((100vh - 640px) / 2) 0 0 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 100%;
  // overflow: hidden !important;
  overflow-x: auto;
  overflow-y: scroll;
  color: $white;
  font-family: 'Patrick Hand', cursive;
}

h1 {
  font-size: 50px;
  font-family: 'Amatic SC', cursive;
  text-shadow: 2px 2px #cf7a77;
}

.white {
  color: $white;
}

.red-dark {
  color: $red-dark;
}

.red {
  color: $red;
}

.green {
  color: $green;
}

.green-dark {
  color: $green-dark;
}

.grey {
  color: $grey;
}

.black {
  color: $black;
}

.circle-shadow-light {
  text-shadow: 0 0 10px $white;
}

.circle-shadow-dark {
  text-shadow: 0 0 10px $black;
}

spark-fountain-advent-container {
  width: 360px;
  height: 50px;
  position: absolute;
  background: url('/assets/gfx/banner.jpg');
  left: calc((100vw - 360px) / 2);
  top: calc(512px - 50px);
  box-shadow: inset 0 0 15px 5px $black;
}
