html,
body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 100%; //calc(100vh - env(viewport-nav-resize));
  overflow: hidden !important;
  -webkit-overflow-scrolling: touch;

  color: #eee;
  background: url('/assets/gfx/main-menu.jpg');
  background-size: contain;
}
