html, body {
  margin: 30px 0 0 0 !important;
  padding: 0 !important;
  border: 0 !important;
  width: 100vw;
  height: calc(100vh - 30px); //calc(100vh - env(viewport-nav-resize));

  color: #eee;
}
