@import '../../variables.scss';

.card {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

  // border: 1px inset $black;
  border-radius: 12px;

  background-blend-mode: color-burn;

  .word {
    margin: 0;
    padding: 0;
    display: flex;
    text-shadow: 0 0 5px $white;
  }
}

.exchange-word {
  position: absolute;
  top: inherit;
  left: calc(inherit + 50px);
  cursor: pointer;
}
