<div class="container">
  <div class="absolute">
    <h1>Übersichtskarte</h1>

    <i
      class="fas fa-church fa-2x red-dark circle-shadow-dark animate__bounceIn"
      routerLink="/kirche"
    ></i>
    <label class="church red-dark animate__bounceIn" routerLink="/kirche">Kirche</label>

    <i
      class="fas fa-tree fa-2x tree1 green-dark circle-shadow-light animate__bounceIn"
      routerLink="/wald"
    ></i>
    <i
      class="fas fa-tree fa-1x tree2 green-dark circle-shadow-light animate__bounceIn"
      routerLink="/wald"
    ></i>
    <i
      class="fas fa-tree fa-2x tree3 green-dark circle-shadow-light animate__bounceIn"
      routerLink="/wald"
    ></i>
    <label class="forest circle-shadow-light animate__bounceIn" routerLink="/wald">Wald</label>

    <i
      class="fas fa-igloo fa-2x circle-shadow-light animate__bounceIn"
      routerLink="/siedlung"
    ></i>
    <label class="igloo animate__bounceIn" routerLink="/siedlung">Siedlung</label>

    <i
      class="fas fa-paw fa-2x grey circle-shadow-dark animate__bounceIn"
      routerLink="/zoo"
    ></i>
    <label class="zoo circle-shadow-dark animate__bounceIn" routerLink="/zoo">Zoo</label>

    <i
      class="fas fa-skating fa-2x circle-shadow-dark animate__bounceIn"
      routerLink="/eislaufen"
    ></i>
    <label class="ice-skating animate__bounceIn" routerLink="/eislaufen"
      >Eislaufen</label
    >

    <i
      class="fas fa-tram fa-2x black circle-shadow-dark animate__bounceIn"
      routerLink="/seilbahn"
    ></i>
    <label class="cableway animate__bounceIn" routerLink="/seilbahn">Seilbahn</label>

    <i
      class="fas fa-theater-masks fa-2x green circle-shadow-dark animate__bounceIn"
      routerLink="/theater"
    ></i>
    <label class="theater circle-shadow-dark animate__bounceIn" routerLink="/theater"
      >Theater</label
    >

    <i
      class="fas fa-glass-cheers fa-2x red circle-shadow-dark animate__bounceIn"
      routerLink="/bar"
    ></i>
    <label class="bar circle-shadow-dark animate__bounceIn" routerLink="/bar">Bar</label>

    <i
      class="fas fa-swimmer fa-2x black circle-shadow-dark animate__bounceIn"
      routerLink="/schwimmbad"
    ></i>
    <label class="pool circle-shadow-dark animate__bounceIn" routerLink="/schwimmbad"
      >Schwimmbad</label
    >

    <i
      class="fas fa-hotel fa-2x grey circle-shadow-dark animate__bounceIn"
      routerLink="/hotel"
    ></i>
    <label class="hotel circle-shadow-dark animate__bounceIn" routerLink="/hotel">Hotel</label>
  </div>
</div>
