.container {
  width: 100%;
  height: 100%;
  background: url('/assets/gfx/map.jpg');
  text-align: center;
}

.fas {
  position: absolute;
}

.fa-caret-square-left {
  top: 10px;
  left: 10px;
}

.fa-church {
  top: 200px;
  left: 35px;
}

.tree1 {
  top: 60px;
  left: 277px;
}

.tree2 {
  top: 44px;
  left: 297px;
}

.tree3 {
  top: 50px;
  left: 310px;
}

.fa-igloo {
  top: 510px;
  left: 206px;
}

.fa-paw {
  top: 360px;
  left: 284px;
}

.fa-tram {
  top: 70px;
  left: 60px;
}

.fa-theater-masks {
  top: 320px;
  left: 150px;
}

.fa-glass-cheers {
  top: 237px;
  left: 250px;
}

.fa-swimmer {
  top: 430px;
  left: 100px;
}

.fa-hotel {
  top: 550px;
  left: 47px;
}

.fa-skating {
  top: 130px;
  left: 200px;
}
