.container {
  width: 100%;
  height: 100%;
  background: url('/assets/gfx/map.jpg');
  text-align: center;
}

.fas {
  position: absolute;
}

.fa-caret-square-left {
  top: 10px;
  left: 10px;
}

.fa-church {
  top: 200px;
  left: 50px;
}

.tree1 {
  top: 60px;
  left: 277px;
}

.tree2 {
  top: 44px;
  left: 297px;
}

.tree3 {
  top: 50px;
  left: 310px;
}

.fa-igloo {
  top: 510px;
  left: 206px;
}

.fa-paw {
  top: 310px;
  left: 204px;
}

.fa-tram {
  top: 500px;
  left: 30px;
}

.fa-theater-masks {
  top: 200px;
}

.fa-glass-cheers {
  top: 140px;
}

.fa-swimmer {
  top: 250px;
}

.fa-hotel {
  top: 580px;
}
