::ng-deep * {
  margin: 0;
  padding: 0;
}

.main-menu {
  background: red; //url('/assets/gfx/main-menu.jpg');
  width: 100vw;
  height: calc(100vh - env(viewport-nav-resize));
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .main-frame {
    width: 360px;
    height: 640px;
    background: url('/assets/gfx/scenes/1.jpg');
  }
}
