<div class="container">
  <div class="absolute">
    <i class="far fa-snowflake snowflake01 fa-1x"></i>

    <i class="fas fa-skiing ski01 fa-2x"></i>

    <i class="fas fa-tree tree01 fa-2x circle-shadow-dark"></i>

    <i class="fas fa-grin-beam grin01 fa-4x"></i>

    <i class="fas fa-gift gift01 fa-2x circle-shadow-dark"></i>

    <i class="fas fa-chess-pawn pawn01 fa-2x"></i>

    <i class="fas fa-snowman snowman01 fa-3x circle-shadow-light"></i>

    <i class="fas fa-holly-berry fa-4x holly01"></i>
  </div>

  <spark-fountain-advent-container [words]="words"></spark-fountain-advent-container>
</div>
