<div class="container">
  <h1>Spielanleitung</h1>

  <p class="red-dark">
    Der <b>Jazzchor Dresden</b> veranstaltet ein geheimes Konzert im hohen
    Norden. Finde heraus, wo es stattfindet, indem du zehn verschiedene Orte
    besuchst und dort versteckte Gegenstände findest.
  </p>
  <p class="red-dark">
    Klicke auf die Übersichtskarte <i class="fas fa-scroll green-dark"></i> oben
    rechts, um deinen Standort auszuwählen. Suche dann alle Dinge, die in der
    Liste am unteren Bildrand genannt werden. Tippe einen Gegenstand einfach an,
    um ihn aufzusammeln.
  </p>

  <div class="okay" routerLink="/karte">
    <i class="far fa-play-circle fa-3x red-dark circle-shadow-light"></i><br />
    <div style="font-size: 5px">&nbsp;</div>
    Okay
  </div>
</div>
