<div class="container">
  <h1>Spielanleitung</h1>

  <p class="red-dark">
    <b
      >Wähle einen Ort auf der Übersichtskarte aus und finde alle zehn
      versteckten Gegenstände</b
    >. Tippe einen Gegenstand einfach an, um ihn aufzusammeln.
  </p>
  <p class="red-dark">
    Um einen Ort wieder zu verlassen, drücke auf das Kartensymbol
    <i class="fas fa-scroll green-dark"></i> oben links. Wenn du einen Tipp
    brauchst, berühre das Fragezeichen
    <i class="fas fa-question-circle red"></i> am oberen rechten Bildschirmrand.
  </p>
  <p class="red-dark">Um jetzt die Karte zu öffnen, tippe auf das große rote Kartensymbol unten.</p>

  <div class="okay red-dark" routerLink="/karte">
    <i class="fas fa-scroll fa-3x circle-shadow-light animate__animated animate__pulse animate__infinite"></i><br />
  </div>
</div>
