<div
  class="container"
  [ngStyle]="{ background: 'url(\'/assets/gfx/scenes/bar.jpg\') no-repeat' }"
>
  <div class="absolute">
    <!-- MAP SYMBOL -->
    <i class="fas fa-scroll green-dark fa-1x back-to-map circle-shadow-dark" routerLink="/karte"></i>

    <!-- HELP SYMBOL -->
    <i class="fas fa-question-circle red fa-1x help circle-shadow-dark" (click)="help()"></i>

    <!-- CLICKABLE OBJECTS -->
    <ng-container *ngFor="let obj of scene.objects">
      <i [class]="renderClasses(obj)" [ngStyle]="renderStyle(obj)"></i>
    </ng-container>

    <!-- PLACEHOLDER OBJECTS -->
  </div>

  <spark-fountain-advent-container
    [words]="words"
  ></spark-fountain-advent-container>
</div>
