@import '../../variables.scss';

.container {
  width: 100%;
  height: 100%;
  background: url('/assets/gfx/scenes/church.jpg') no-repeat;
  text-align: center;
  overflow: hidden;

  .absolute {
    position: absolute;

    h1 {
      position: absolute;
      width: 360px;
    }
  }
}

.fas,
.far,
.fab {
  position: absolute;
}

.pray01 {
  top: 410px;
  left: 120px;
  color: $red-dark;
}

.bible01 {
  top: 157px;
  left: 185px;
  color: $white;
}

.mosque01 {
  top: 339px;
  left: 177px;
  color: $grey;
  opacity: 0.8;
}

.halfmoon01 {
  top: 350px;
  left: 22px;
  color: $green-dark;
  opacity: 0.5;
}

.eye01 {
  top: 17px;
  left: 206px;
  color: $green;
}

.note01 {
  top: 220px;
  left: 239px;
  color: $red;
}

.candles01 {
  top: 262px;
  left: 51px;
  color: $grey;
  opacity: 0.65;
}

.wand01 {
  top: 215px;
  left: 282px;
  color: $grey;
  opacity: 0.5;
  transform: rotate(-35deg);
}

.baby01 {
  top: 227px;
  left: 200px;
  color: $black;
  opacity: 0.85;
  transform: rotate(80deg);
}

.bell01 {
  top: 105px;
  left: 28px;
  color: $green-dark;
}
