<div class="container">
  <div class="absolute">
    <i class="fas fa-shower fa-3x shower01 circle-shadow-light"></i>

    <i class="fas fa-ship fa-2x ship01 circle-shadow-dark"></i>

    <i class="fas fa-swimming-pool fa-3x ladder01"></i>

    <i class="fas fa-tint fa-1x drop01"></i>

    <i class="fas fa-hat-cowboy hat01"></i>

    <i class="fas fa-volleyball-ball fa-2x waterball01 circle-shadow-dark"></i>

    <i class="fas fa-fish fa-1x fish01"></i>

    <i class="fas fa-cloud-showers-heavy fa-2x cloud01 circle-shadow-light"></i>

    <i class="fas fa-anchor fa-1x anchor01"></i>

    <i class="fas fa-life-ring fa-3x ring01"></i>

    <i class="fas fa-venus fa-3x female01"></i>

    <i class="fas fa-mars fa-3x male01"></i>
  </div>

  <spark-fountain-advent-container
    [words]="words"
  ></spark-fountain-advent-container>
</div>
