@import '../../variables.scss';

.container {
  width: 100%;
  height: 100%;
  background: url('/assets/gfx/scenes/pool.jpg') no-repeat;
  text-align: center;
  overflow: hidden;

  .absolute {
    position: absolute;

    h1 {
      position: absolute;
      width: 360px;
    }
  }
}

.fas {
  position: absolute;
}

.male01 {
  top: 160px;
  left: 2px;
  color: $black;
  transform: rotate(-18deg);
  opacity: 0.75;
}

.female01 {
  top: 160px;
  left: 43px;
  color: $black;
  opacity: 0.75;
}
