@import '../../variables.scss';

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  .color {
    border: 1px solid $black;
  }
}

.form-group {
  margin: 10px 15px;

  button {
    height: 30px;
    line-height: 100%;
  }
}
